<h1>All Restaurants</h1>

<ul class="list-group">
<% @restaurants.each do |restaurant| %>
  <li class="list-group-item">
    <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
    <p><%= restaurant.phone_number %></p>
  </li>
<% end %>
</ul>

<%= link_to "Create a Restaurant", new_restaurant_path, class: 'btn btn-outline-primary w-100' %>
